<div class="well">
  <%= form_tag videos_path, method: :post, class: "form-inline" do %>
    <%= text_field_tag :nicovideo_id , nil, placeholder: "Niconico Video ID", class: "input-medium"%>
    <%= submit_tag "Submit", class: "btn" %>
  <% end %>
</div>
