<div class="row-fluid">
  <div class="span2">
    <%= link_to image_tag(video.thumbnail_url, alt:video.title), video_path(video), class: "thumbnail"%>
  </div>
  <div class="span10">
    <h5><%= link_to video.title, video_path(video) %></h5>
    <p><%= truncate(video.description, length:200) %></p>
    <h6><%= video.first_retrieve %> に投稿</h6>
  </div>
</div><!--/row-->
