<div class="row">
  <div class="span8">
    <div class="page-header">
      <h1>Listing Videos</h1>
    </div>
    <%= render "search_conditions" if params[:sort].present? || params[:range].present? || params[:tags].present? %>
    <%= render @videos %>
    <%= will_paginate @videos %>
  </div>
  <div class="span4">
    <%= render "side_bar" %>
  </div>
</div>
